<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/admin.css' %}">
    <link rel="shortcut icon" type="image/png" href="{{STATIC_URL}}/favicon"/>
    <meta charset="UTF-8">
</head>
<body>
    <div class='container-fluid'>
        <div class='row' id='header'>
            <div class='col-xs-2 col-xs-offset-1 col-md-2 col-md-offset-1' id='logo'>
                <h2>Test App</h2>
            </div>
            <div id='nav_wrapper' class='col-xs-6 col-md-6'>
                <ul id='nav_bar'>
                    <li><a href='/dashboard/admin'><h3>Dashboard</h3></a></li>
                    <li><a href='/users/edits/'><h3>Profile</h3></a></li>
                </ul>
            </div>
            <div class='col-xs-2 col-md-2' id='right_header'>
                <a href='/logoff'><h3>Log Off</h3></a>
            </div>
        </div>
    </div>
    <div class='container'>
        <div id='titles' class='row'>
            <div class='col-xs-2'>
                <h2>Manage Users</h2>
            </div>
            <div id='add_new' class='col-xs-2 col-xs-offset-8'>
                <a href='/users/new_user/'><button type="button" class="btn btn-primary">Add new</button></a>
            </div>
        </div>
        <div class='row'>
            <div class='col-sm-12' id='user_table'>
                <table class='table table-striped table-responsive'>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>email</th>
                        <th>created_at</th>
                        <th>user_level</th>
                        <th>action</th>
                    </tr>
                    {% for user in users %}
                        <tr>
                            <td>{{user.id}}</td>
                            <td><a href='/users/show/{{user.id}}'>{{user.first_name}} {{user.last_name}}</a></td>
                            <td>{{user.email}}</td>
                            <td>{{user.created_at}}</td>
                            <td>{{user.user_level}}</td>
                            <td>
                                <form action='/users/edit/{{user.id}}' method='post'>
                                    {% csrf_token %}
                                    <input id='edit' type='submit' value='edit'>
                                </form>
                                <form action='/users/remove/{{user.id}}' method='post'>
                                    {% csrf_token %}
                                    <input id='remove' type='submit' value='remove'>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</body>
</html>
